@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
}
body {
  background-color: #1c1e22 !important;
  overflow: hidden;
}
.ant-slider-mark-text {
  color: white !important;
  white-space: nowrap;
}
input {
  color-scheme: dark;
}

.transition-transform {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.small {
  font-size: 14px !important;
}
